


h1 {
    text-align: center;
    text-decoration: #0087D4,#5A4894;
    font-size:'xx-large';
    font-family:'Verdana';
    font-variant: small-caps;
}

    body{

        background-image: linear-gradient(180deg,#0087D4,#505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
        background-size: 900%;
    }
  
  .carrusel {
    display: flex;
    gap: 10px;
    justify-content: center;
    
  }
  
  .carrusel ul {
    list-style: none;
 
    margin: 0;
    padding: 0;
    max-width: 1030px;
    /* max-width: 510px; */
    scroll-behavior: smooth
  }




  
  .carrusel-fotos {
    display: flex;
    gap: 05px;
    overflow: auto;
  }
  
  .carrusel-fotos img {
    background: rgba(34, 45, 64, 0.358);
    border: 4px solid rgba(55, 94, 50, 0.178);
    width: 900px;
    height: 200px;
    object-fit: contain;
  }
  
  .carrusel-menu {
    display:flexbox;
  }
  
  @media screen and (min-width: 500px) {
    .carrusel-fotos {
      overflow:hidden;
    }
  
    .carrusel-fotos img {
      width: 350px;
      height: 400px;
    }
    .carrusel-menu {
      display: block;
    }
    .carrusel-menu img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid rgba(14, 65, 36, 0.331);
    }
    .carrusel-menu img:hover {
      border:none;
    }

    
    

    }
  
  
  p {
    text-align: center;
  }


  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media screen and (max-width: 480px){
  #encabezado{
      height: auto;
  }
  #contenido{
      width: auto;
  }
  #barra_lateral{
      display:none;
  }
}



  
    